[core]
	excludesFile = ~/.config/git/ignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	light = false

[alias]
	merge-branch = merge --log --no-commit --no-ff
	fix-submodules = submodule update --recursive --init

[branch]
	sort = -committerdate

[color]
	diff = auto
	status = auto
	branch = auto

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	followTags = true

[rerere]
	enabled = true

[user]
	name = Matthias Vallentin
	email = matthias@vallentin.net
	signingkey = 0xFBAC7C9C2BF7F1AA
