
[alias]
  prune = fetch --prune
  cdiff = diff --cached
  st = status --short
  log1 = log --all --graph --decorate --oneline --abbrev-commit
  glog = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
  merge-branch = merge --log --no-commit --no-ff
  push-this = push origin HEAD
  fix-submodules = submodule update --recursive --init
  recursive = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && git $@; done' -"
  recursive-sh = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && $@; done' -"

[branch]
 sort = -committerdate

[color]
	diff = auto
	status = auto
	branch = auto

[diff]
  tool = meld

[difftool]
  prompt = false

[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[merge]
	tool = meld

[mergetool "meld"]
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$MERGED\" \"$PWD/$REMOTE\"
  trustExitCode = false

[push]
  followTags = true

[rerere]
	enabled = true

[user]
	name = danielbernalo
	email = danielbernal@nuevoeste.com
  
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	insteadOf = https://github.com
