[user]
	name = Matthias Vallentin
	email = vallentin@icir.org

[color]
	diff = auto
	status = auto
	branch = auto

[merge]
	tool = vimdiff

[push]
	default = simple

[alias]
  cdiff = diff --cached
  st = status --short
  log1 = log --all --graph --decorate --oneline --abbrev-commit
  merge-branch = merge --log --no-commit --no-ff
  push-this = push origin HEAD
  fix-submodules = submodule update --recursive --init
  recursive = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && git $@; done' -"
  recursive-sh = "!sh -c 'for i in . `git submodule foreach -q --recursive pwd`; do cd $i && $@; done' -"

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[rerere]
	enabled = true
