# Home directory
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
TODO
code
docs
papers
slides
src
tmp
work

# Mac OS specific
._*
.DS_Store
.Spotlight-V100
.Trashes
.Trash/
Icon?

.bashrc
.bash_logout
.bash_profile
.certs
.CFUserTextEncoding
.Xauthority
.cups
.dropbox
.elinks
.emacs
.fetchmail*
.font*
.gem*
.gnupg
.irssi/config.sensitive.asc
.keychain
.lesshst
.ncftp
.msf3
.macports
.mail
.msmtp*
.mutt/aliases
.mutt/certificates
.mutt/lists
.procmail/
.qt
.slrn/
.ssh/
.subversion
.sup/*.txt
.sup/drafts
.sup/hooks/before-add-message.rb
.sup/lock
.sup/log
.sup/sources*
.sup/xapian
.svk/
.sw?
.unison/*
.vim/bundle
.vim/spell*
.viminfo
.zcompdump
.*history
.zsh/cache/
.zsh/env/host
.zsh/path/host
.zsh/rc/host
.zshenv.local
.zshpath.local
.zshrc.local

*pyc
