# Home directory
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
TODO
code
docs
papers
slides
tmp

# Mac OS specific
._*
.DS_Store
.Spotlight-V100
.Trashes
.Trash/
Icon?

.certs
.CFUserTextEncoding
.Xauthority
.cups
.dropbox
.elinks
.fetchmail*
.font*
.gem*
.gnupg
.keychain
.lesshst
.ncftp
.msf3
.macports
.mail
.msmtp*
.mutt/aliases
.mutt/certificates
.mutt/lists
.procmail/
.qt
.slrn/
.ssh/
.subversion
.sup/*.txt
.sup/drafts
.sup/hooks/before-add-message.rb
.sup/lock
.sup/log
.sup/sources*
.sup/xapian
.svk/
.sw?
.unison/*
.vim/spell*
.viminfo
.zcompdump
.*history
.zsh/cache/

*pyc
